body {
  background-color: var(--main-text-color);

  background-image: url('../images/body-bg-image/body-img-mob@1x.png');

  background-position: center;
  color: var(--main-text-color);
  font-family: 'Montserrat', sans-serif;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/body-bg-image/body-img-mob@2x.png');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/body-bg-image/body-img-tabl@1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/body-bg-image/body-img-tabl@2x.png');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/body-bg-image/body-img-desk@x1.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/body-bg-image/body-img-desk@x2.png');
    }
  }
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
