.container {
  min-width: 320px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    min-width: var(--mobile);
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    min-width: var(--tablet);
    padding-right: 32px;
    padding-left: 32px;
  }

  @media screen and (min-width: 1200px) {
    min-width: var(--desktop);
    padding-right: 16px;
    padding-left: 16px;
  }
}
