:root {
  // breakpoints
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1200px;

  // text colors
  --main-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --btn-text-color: #000000;

  //   bg and accent colors
  --main-bg-color: #84a178;
  --accent-color: #f8d24e;
  --bg-mobile: #85a279;
  --card-bg: #ffffff;
  --bg-tablet: #97af8d;

  //   products cards colors
  --bg-color-red: #d6936d;
  --bg-color-yellow: #efd478;
  --bg-color-green: #aec6a5;
  --pseudo-elements-bg: #d9d9d9;
  --pseudo-elements-red: #d5753f;
  --pseudo-elements-green: #9cbe8f;

  //contacts and footer additional text color
  --time-text-color: #ababab;
  --copyright-text-color: #7a7a7a;
  --contact-line: #e1e1e1;

  //btn bgc
  --btn-hover-color: #0a8817;
}
