<section class="advantages__section">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="container">
    <ul class="recipe">
      <li class="recipe__item recipe__item--cow">
        <div class="advantages__wrap">
          <p class="recipe__number">721</p>
          <p class="recipe__txt">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="recipe__item recipe__item--weight">
        <div class="advantages__wrap">
          <p class="recipe__number">16kg</p>
          <p class="recipe__txt">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="recipe__item recipe__item--ice-cone">
        <div class="advantages__wrap">
          <p class="recipe__number">84</p>
          <!-- <svg class="icons_text" width="50" height="50">
              <use href="./images/icons/icons.svg#icon-weight"></use>
            </svg>  -->
          <p class="recipe__txt">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
