<section class="contacts" id="contacts">
  <div class="container">
    <h2 hidden>contacts</h2>
    <ul class="contacts__list-group">
      <li class="contacts__item">
        <p class="contacts__item-title">cafe</p>
        <ul class="contacts__address">
          <li class="contacts__city">chicago</li>
          <li class="contacts__location">
            <a
              href="https://www.google.com.hk/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+EE.+UU./@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
              class="contacts__location-link"
              target="_blank"
              rel="noopener
              noreferrer
              nofollow"
              >10340 ridgeland ave, chicago ridge, il 60415, usa</a
            >
          </li>
        </ul>
        <ul class="contacts__schedule">
          <li class="contacts__schedule-days">monday - friday</li>
          <li class="contacts__schedule-time">06:00 am - 10:00 pm</li>
          <li class="contacts__schedule-days">saturday - sunday</li>
          <li class="contacts__schedule-time">08:00 pm - 16:00 pm</li>
        </ul>
        <ul class="contacts__footer">
          <li>
            <a href="tel:+61(0)383766284" class="contacts__link"
              >+61(0)383766284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-title">food truck</p>
        <ul class="contacts__address">
          <li class="contacts__city">los angeles</li>
          <li class="contacts__location">
            <a
              href="https://www.google.com.hk/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+EE.+UU./@33.8835263,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
              class="contacts__location-link"
              target="_blank"
              rel="noopener
          noreferrer
          nofollow"
              >1003 manhattan ave, manhattan beach, ca 90263, usa</a
            >
          </li>
        </ul>
        <ul class="contacts__schedule">
          <li class="contacts__schedule-days">monday - friday</li>
          <li class="contacts__schedule-time">06:00 am - 10:00 pm</li>
          <li class="contacts__schedule-days">saturday - sunday</li>
          <li class="contacts__schedule-time">08:00 pm - 16:00 pm</li>
        </ul>
        <ul class="contacts__footer">
          <li>
            <a href="tel:+61(0)383766284" class="contacts__link"
              >+61(0)383766284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__item-title">cafe</p>
        <ul class="contacts__address">
          <li class="contacts__city">new york</li>
          <li class="contacts__location">
            <a
              href="https://www.google.com.hk/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+EE.+UU./@40.6726938,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
              class="contacts__location-link"
              target="_blank"
              rel="noopener
          noreferrer
          nofollow"
              >726 sterling pl, brooklyn, ny 11222, usa</a
            >
          </li>
        </ul>
        <ul class="contacts__schedule">
          <li class="contacts__schedule-days">monday - friday</li>
          <li class="contacts__schedule-time">06:00 am - 10:00 pm</li>
          <li class="contacts__schedule-days">saturday - sunday</li>
          <li class="contacts__schedule-time">08:00 am - 16:00 pm</li>
        </ul>
        <ul class="contacts__footer">
          <li>
            <a href="tel:+61(0)383766284" class="contacts__link"
              >+61(0)383766284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__modal">
      <li class="contacts__modal-btn">
        <button
          data-modal="loc"
          type="button"
          class="btn-location js-open-modal"
        >
          our locations
          <svg class="contacts__arrow" width="12" height="12">
            <use href="./images/icons/icons.svg#icon-arrow-small"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__modal-btn">
        <button
          data-modal="franchise"
          type="button"
          class="btn-franchise js-open-modal"
        >
          franchise
          <svg class="contacts__arrow" width="12" height="12">
            <use href="./images/icons/icons.svg#icon-arrow-small"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
