<section class="costumer">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/costumer-reviews/girl-desk-mobi_85.png   85w,
          ./images/costumer-reviews/girl-desk-mobi_170.png 170w
        "
        media="(max-width: 767px )"
        type="image/png"
      />
      <source
        srcset="
          ./images/costumer-reviews/girl-tabl_84.png   84w,
          ./images/costumer-reviews/girl-tabl_168.png 168w
        "
        media="(min-width: 768px )"
        type="image/png"
      />
      <source
        srcset="
          ./images/costumer-reviews/girl-desk-mobi_85.png   85w,
          ./images/costumer-reviews/girl-desk-mobi_170.png 170w
        "
        media="(min-width: 1199px)"
        type="image/png"
      />
      <img
        class="costumer__photo"
        src="./images/costumer-reviews/girl-tabl_84.png"
        alt="Costumer"
        width="85"
      />
    </picture>
    <p class="costumer__text">
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
    <p class="costumer__name">Emily, Los Angeles</p>
    <ul class="costumer__list">
      <li class="costumer__item costumer__curent"></li>
      <li class="costumer__item"></li>
      <li class="costumer__item"></li>
    </ul>
  </div>
</section>
