<section class="gallery">
  <div class="container gallery-back">
    <h2 class="visually-hidden">Gallery</h2>
    <picture class="gallery__img">
      <source
        srcset="
          ./images/gallary/ice-mobi_280.jpg 280w,
          ./images/gallary/ice-mobi_560.jpg 560w
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/gallary/ice-desk_1013.jpg 1013w,
          ./images/gallary/ice-desk_2026.jpg 2026w
        "
        media="(min-width:1199px)"
      />
      <source
        srcset="
          ./images/gallary/ice-tabl_704.jpg   704w,
          ./images/gallary/ice-tabl_1408.jpg 1408w
        "
        media="(min-width:768px)"
      />

      <img
        class="gallery__pic"
        src="./images/gallary/ice-desk_1013.jpg"
        alt="acecream"
      />
    </picture>
  </div>
</section>
