<section class="gallery">
  <div class="container gallery-back">
    <picture class="gallery__img">
      <source
        srcset="
          ./images/gallary/ice-mobi_280.jpg 1x,
          ./images/gallary/ice-mobi_560.jpg 2x
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/gallary/ice-desk_1013.jpg 1x,
          ./images/gallary/ice-desk_2026.jpg 2x
        "
        media="(min-width:1199px)"
      />
      <source
        srcset="
          ./images/gallary/ice-tabl_704.jpg  1x,
          ./images/gallary/ice-tabl_1408.jpg 2x
        "
        media="(min-width:768px)"
      />

      <img
        class="gallery__pic"
        src="./images/gallary/ice-desk_1013.jpg"
        alt="acecream"
      />
    </picture>
  </div>
</section>
