<header class="header" data-header>
  <div class="container header__container">
    <a href="./index.html" class="logo">
      <img src="./images/logo-png/logo.png" alt="company logo image" />
    </a>
    <div class="header__flex-container">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu__icon" width="32" height="32">
          <use href="./images/icons/icons.svg#icon-burger-white"></use>
        </svg>
      </button>
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a href="#hero" class="site-nav__link">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="#how-it's-made" class="site-nav__link">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a href="#products" class="site-nav__link">Our products</a>
          </li>
          <li class="site-nav__item">
            <a href="#contacts" class="site-nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button
        data-modal="buyNow"
        type="button"
        class="header__btn btn js-open-modal"
      >
        Buy now
        <svg class="button__icon" width="12" height="12">
          <use href="./images/icons/icons.svg#icon-arrow-small"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<!-- Mobile menu -->

<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="./index.html" class="logo-mob">
    <img src="./images/logo-png/logo-mobile.png" alt="company logo image" />
  </a>
  <button class="menu-toggle js-close-menu">
    <svg class="" width="19" height="19">
      <use href="./images/icons/icons.svg#icon-cross-white"></use>
    </svg>
  </button>
  <div class="flex-height">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#hero" class="mobile-menu__link">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a
          href="#how-it's-made"
          class="mobile-menu__link mobile-menu__link--black"
          >How it’s made?</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="#products" class="mobile-menu__link">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contacts" class="mobile-menu__link"> Contact </a>
      </li>
    </ul>
    <button
      data-modal="buyNow"
      type="button"
      class="header__btn header__btn-mob btn js-open-modal"
    >
      Buy now
      <svg class="button__icon" width="12" height="12">
        <use href="./images/icons/icons.svg#icon-arrow-small"></use>
      </svg>
    </button>
  </div>
</div>
