<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo">
      <img src="./images/logo-png/logo.png" alt="company logo image" />
    </a>
    <div class="header__flex-container">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu__icon" width="32" height="32">
          <use href="./images/icons/icons.svg#icon-burger-white"></use>
        </svg>
      </button>
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a href="#hero" class="site-nav__link">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="#how-it's-made" class="site-nav__link">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a href="#products" class="site-nav__link">Our products</a>
          </li>
          <li class="site-nav__item">
            <a href="#contacts" class="site-nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header__btn btn">
        Buy now
        <svg
          class="button__icon"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.96959 1.22704C3.82899 1.36768 3.75 1.55841 3.75 1.75729C3.75 1.95616 3.82899 2.14689 3.96959 2.28754L7.68209 6.00004L3.96959 9.71254C3.83297 9.85399 3.75738 10.0434 3.75908 10.2401C3.76079 10.4367 3.83967 10.6248 3.97873 10.7639C4.11778 10.903 4.30589 10.9818 4.50254 10.9835C4.69919 10.9853 4.88864 10.9097 5.03009 10.773L9.27284 6.53029C9.41344 6.38964 9.49243 6.19891 9.49243 6.00004C9.49243 5.80116 9.41344 5.61043 9.27284 5.46979L5.03009 1.22704C4.88944 1.08643 4.69871 1.00745 4.49984 1.00745C4.30097 1.00745 4.11024 1.08643 3.96959 1.22704Z"
            fill="black"
          />
        </svg>
      </button>
    </div>
  </div>
</header>

<!-- Mobile menu -->

<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="./index.html" class="logo-mob">
    <img src="./images/logo-png/logo-mobile.png" alt="company logo image" />
  </a>
  <button class="menu-toggle js-close-menu">
    <svg class="" width="19" height="19">
      <use href="./images/icons/icons.svg#icon-cross-white"></use>
    </svg>
  </button>
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="#hero" class="mobile-menu__link">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a
        href="#how-it's-made"
        class="mobile-menu__link mobile-menu__link--black"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#products" class="mobile-menu__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#contacts" class="mobile-menu__link">Contact</a>
    </li>
  </ul>
  <button type="button" class="header__btn header__btn-mob btn">Buy now</button>
</div>
