<div class="container header">
  <a href="" class="logo">
    <img src="./images/logo-png/logo.png" alt="company logo image" />
  </a>
  <div class="header__flex-container">
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu__icon" width="32" height="32">
        <use href="./images/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>

    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__btn">Buy now</button>
  </div>
</div>
<!-- Mobile menu -->

<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="" class="logo-mob">
    <img src="./images/logo-png/logo-mobile.png" alt="company logo image" />
  </a>
  <button class="menu-toggle js-close-menu">
    <svg class="" width="19" height="19">
      <use href="./images/icons/icons.svg#icon-modal-close-white"></use>
    </svg>
  </button>
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link mobile-menu__link--black"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link">Contact</a>
    </li>
  </ul>
  <button type="button" class="header__btn header__btn-mob">Buy now</button>
</div>
