<section class="hero" id="hero">
  <div class="hero--decor container">
    <div class="hero__div">
      <div class="hero__title--decor">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--decor">passion</span>
        </h1>
      </div>
    </div>

    <ul class="hero__div--span">
      <li>
        <span class="hero__span--number">16</span>
      </li>
      <li>
        <span class="hero__span">cafes</span>
      </li>
      <li>
        <span class="hero__span--number">23</span>
      </li>
      <li>
        <span class="hero__span">food trucks</span>
      </li>
    </ul>
  </div>
  <div class="hero__div--center container">
    <ul class="hero__div--btn">
      <li>
        <a class="btn--transparent hero__link" href="#products">Products</a>
      </li>
      <li>
        <a class="hero__link hero__link--made" href="#how-it's-made"
          >How it’s made?</a
        >
      </li>
    </ul>
  </div>
  <div class="hero__div--picture">
    <div class="hero__div--paragraph">
      <p class="hero__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="">
        <svg class="hero__div__svg">
          <use href="./images/icons/icons.svg#icon-white-arrow"></use>
        </svg>
      </a>
    </div>
    <picture>
      <source
        media="(min-width: 1199px)"
        srcset="
          ./images/hero/dots-desk/desktop_hero_dots_half.png    1x,
          ./images/hero/dots-desk/desktop_hero_dots_half@2x.png 2x
        "
      />
      <img
        class="dots_half"
        src="./images/hero/dots-desk/desktop_hero_dots_half.png"
        alt="dots half"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1199px)"
        srcset="
          ./images/hero/sm-ice-desk_225.png 1x,
          ./images/hero/sm-ice-desk_450.png 2x
        "
      />
      <source
        media="(min-width: 767px)"
        srcset="
          ./images/hero/sm-ice-tabl_152.png 1x,
          ./images/hero/sm-ice-tabl_304.png 2x
        "
      />
      <img
        class="lot__ice_cream"
        src="./images/hero/sm-ice-tabl_152.png"
        alt="lot ice cream"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1199px)"
        srcset="
          ./images/hero/ice-desk_456.png 1x,
          ./images/hero/ice-desk_912.png 2x
        "
      />
      <source
        media="(min-width: 767px)"
        srcset="
          ./images/hero/ice-tabl_268.png 1x,
          ./images/hero/ice-tabl_536.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/ice-mobi_177.png 1x,
          ./images/hero/ice-mobi_354.png 2x
        "
      />
      <img
        class="hero__img_ice"
        src="./images/hero/ice-mobi_177.png"
        alt="ice"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1199px)"
        srcset="
          ./images/hero/dots-desk/desktop_hero_dots_rights.png    1x,
          ./images/hero/dots-desk/desktop_hero_dots_rights@2x.png 2x
        "
      />
      <source
        media="(min-width: 767px)"
        srcset="
          ./images/hero/dots-desk/tablet_hero_dots_rights.png    1x,
          ./images/hero/dots-desk/tablet_hero_dots_rights@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/dots-desk/mobile_hero_dots_rights.png    1x,
          ./images/hero/dots-desk/mobile_hero_dots_rights@2x.png 2x
        "
      />
      <img
        class="hero__img--rights"
        src="./images/hero/dots-desk/mobile_hero_dots_rights.png"
        alt="dots rights"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1199px)"
        srcset="
          ./images/hero/dots-desk/desktop_hero_dots_left.png    1x,
          ./images/hero/dots-desk/desktop_hero_dots_left@2x.png 2x
        "
      />
      <source
        media="(min-width: 767px)"
        srcset="
          ./images/hero/dots-desk/tablet_hero_dots_left.png    1x,
          ./images/hero/dots-desk/tablet_hero_dots_left@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/dots-desk/mobile_hero_dots_left.png    1x,
          ./images/hero/dots-desk/mobile_hero_dots_left@2x.png 2x
        "
      />
      <img
        class="hero__img--left"
        src="./images/hero/dots-desk/mobile_hero_dots_left.png"
        alt="dots left"
      />
    </picture>
  </div>
</section>
