<section class="hero">
  <div class="hero--decor container">
    <div class="hero_div">
      <div class="hero_title--decor">
        <h1 class="hero_title">
          ice cream made with <span class="hero-title--decor">passion</span>
        </h1>
      </div>

      <div class="hero_div--btn">
        <a class="hero_link hero_link--decor" href="">Products</a>
        <a class="hero_link hero_link--made" href="">How it’s made?</a>
      </div>
    </div>

    <div class="hero_div--span">
      <span class="hero_span--number">16</span>
      <span class="hero_span">cafes</span>

      <span class="hero_span--number">23</span>
      <span class="hero_span">food trucks</span>
    </div>
  </div>

  <div class="hero_div--picture">
    <div class="hero_div--paragraph">
      <p class="hero_paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <!-- <svg href=""></svg> -->
    </div>

    <picture>
      <source
        media="(min-width: 1199px)"
        srcset="
          ./images/hero/desktop/desktop_hero_dots_left.png    1x,
          ./images/hero/desktop/desktop_hero_dots_left@2x.png 2x
        "
      />

      <source
        media="(min-width: 767px)"
        srcset="
          ./images/hero/tablet/tablet_hero_dots_left.png    1x,
          ./images/hero/tablet/tablet_hero_dots_left@2x.png 2x
        "
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/mobile/mobile_hero_dots_left.png    1x,
          ./images/hero/mobile/mobile_hero_dots_left@2x.png 2x
        "
      />

      <img
        class="hero_img--left"
        src="./images/hero/mobile/mobile_hero_dots_left.png"
        alt="ноутбук"
      />
    </picture>

    <picture>
      <source
        media="(min-width: 1199px)"
        srcset="
          ./images/hero/desktop/desktop_hero_dots_rights.png    1x,
          ./images/hero/desktop/desktop_hero_dots_rights@2x.png 2x
        "
      />

      <source
        media="(min-width: 767px)"
        srcset="
          ./images/hero/tablet/tablet_hero_dots_rights.png    1x,
          ./images/hero/tablet/tablet_hero_dots_rights@2x.png 2x
        "
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/mobile/mobile_hero_dots_rights.png    1x,
          ./images/hero/mobile/mobile_hero_dots_rights@2x.png 2x
        "
      />

      <img
        class="hero_img--rights"
        src="./images/hero/mobile/mobile_hero_dots_rights.png"
        alt="ноутбук"
      />
    </picture>

    <picture>
      <source
        media="(min-width: 1199px)"
        srcset="
          ./images/hero/desktop/desktop_hero_ice_creams.png    1x,
          ./images/hero/desktop/desktop_hero_ice_creams@2x.png 2x
        "
      />

      <source
        media="(min-width: 767px)"
        srcset="
          ./images/hero/tablet/tablet_hero_ice_creams.png    1x,
          ./images/hero/tablet/tablet_hero_ice_creams@2x.png 2x
        "
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/mobile/mobile_hero_ice_creams.png    1x,
          ./images/hero/mobile/mobile_hero_ice_creams@2x.png 2x
        "
      />

      <img
        class="hero_img_ice"
        src="./images/hero/mobile/mobile_hero_ice_creams.png"
        alt="ноутбук"
      />
    </picture>

    <picture>
      <source
        media="(min-width: 1199px)"
        srcset="
          ./images/hero/desktop/desktop_lot_ice_cream.png    1x,
          ./images/hero/desktop/desktop_lot_ice_cream@2x.png 2x
        "
      />

      <source
        media="(min-width: 767px)"
        srcset="
          ./images/hero/tablet/tablet_lot_ice_cream.png    1x,
          ./images/hero/tablet/tablet_lot_ice_cream@2x.png 2x
        "
      />
      <img
        class="lot_ice_cream"
        src="./images/hero/tablet/tablet_lot_ice_cream.png "
        alt="lot ice"
      />
    </picture>
  </div>
</section>
