<div class="overlay js-overlay-modal">
  <div class="modal modal-buy" data-modal="buyNow">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close">
      <use href="./images/icons/icons.svg#icon-modal-cross-black"></use>
    </svg>
    <p class="modal-buy__title">Buy now</p>
    <ul class="modal-buy__list">
      <li class="modal-buy__item modal-buy__item--green">
        <div class="modal-buy__circle modal-buy__circle--green"></div>
        <p class="modal-buy__text">ice cream</p>
      </li>
      <li class="modal-buy__item modal-buy__item--yellow">
        <div class="modal-buy__circle modal-buy__circle--yellow"></div>
        <p class="modal-buy__text">ice coffee</p>
      </li>
      <li class="modal-buy__item modal-buy__item--brown">
        <div class="modal-buy__circle modal-buy__circle--brown"></div>
        <p class="modal-buy__text">milkshake</p>
      </li>
    </ul>
    <form name="buy-now-form" class="buy-now-form">
      <label class="buy-now-form__field">
        <input
          type="text"
          name="username"
          class="buy-now-form__input"
          placeholder="Name"
        />
      </label>
      <label class="buy-now-form__field">
        <input
          type="tel"
          name="phone-number"
          class="buy-now-form__input"
          placeholder="Phone"
        />
      </label>
      <label class="buy-now-form__textarea">
        <textarea
          class="buy-now-form__comment-input"
          name="comment"
          placeholder="Comment"
          rows="4"
        ></textarea>
      </label>
      <button type="submit" class="submit-btn btn">Submit</button>
    </form>
  </div>
  <!--Modal products-->

  <div class="modal modal-prod" data-modal="products">
    <svg class="modal__cross js-modal-close">
      <use href="./images/icons/icons.svg#icon-modal-cross-black"></use>
    </svg>
    <p class="ingridients-modal__title">Chololate icecream</p>
    <div>
      <img
        class="ingridients-modal__img"
        srcset="
          ./images/modal/chololate_132.png 1x,
          ./images/modal/chololate_264.png 2x
        "
        sizes=""
        src="./images/modal/chololate_132.png"
        alt="Chololate icecream"
        width="132"
        height="132"
      />
      <span class="ingridients-modal__bg-circle"></span>
    </div>
    <ul class="ingridients-contain-list">
      <li class="ingridients-contain__item">
        <span class="ingridients-contain__value">320</span>kcal
      </li>
      <li class="ingridients-contain__item">
        <span class="ingridients-contain__value">4g</span>Prote...
      </li>
      <li class="ingridients-contain__item">
        <span class="ingridients-contain__value">8,2g</span>Fats
      </li>
      <li class="ingridients-contain__item">
        <span class="ingridients-contain__value">40,4g</span>Carbs
      </li>
    </ul>
    <p class="ingridients-lists-title">Ingredients</p>
    <ul class="ingridients-list">
      <li class="ingridients-list__item"><span>Milk</span>100ml</li>
      <li class="ingridients-list__item"><span>Belgian chocolate</span>20g</li>
      <li class="ingridients-list__item"><span>Cream</span>150 ml</li>
      <li class="ingridients-list__item"><span>Cocoa powder</span>30g</li>
      <li class="ingridients-list__item"><span>Sugar</span>40g</li>
      <li class="ingridients-list__item"><span>Vanilla sugar</span>10g</li>
    </ul>
    <form class="form" name="user-data">
      <input
        class="form-input"
        type="text"
        name="user-name"
        placeholder="Name"
        required
      />
      <input
        class="form-input"
        type="tel"
        name="user-phone"
        placeholder="Phone"
        required
      />
      <textarea
        class="form-comment"
        name="comment"
        id="comment"
        rows="3"
        placeholder="Comment"
        required
      ></textarea>
      <button class="button" type="submit">Submit</button>
    </form>
  </div>

  <!-- Modal read more -->
  <div class="modal modal-read" data-modal="read-more">
    <svg class="modal__cross js-modal-close" width="20" height="20">
      <use href="./images/icons/icons.svg#icon-modal-close"></use>
    </svg>
    <p class="about-modal__title">How it’s made?</p>
    <iframe
      class="about__video"
      width="360"
      height="315"
      src="https://www.youtube.com/embed/jHuGLNlET3o"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>

  <!--MODALS CONTACTS-->
  <!--location-->
  <div class="modal modal-location" data-modal="loc">
    <svg class="modal__cross js-modal-close">
      <use href="./images/icons/icons.svg#icon-modal-cross-black"></use>
    </svg>
    <h2 class="modal__title">our locations</h2>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.793118654225!2d-87.7797405!3d41.7034016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2s10340%20Ridgeland%20Ave%2C%20Chicago%20Ridge%2C%20IL%2060415%2C%20USA!5e0!3m2!1sen!2s!4v1671186316301!5m2!1sen!2s"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
      ></iframe>
    </div>
    <button class="location-button">open map</button>
  </div>

  <!--franchise-->
  <div class="modal modal-franchise" data-modal="franchise">
    <svg class="modal__cross js-modal-close">
      <use href="./images/icons/icons.svg#icon-modal-cross-black"></use>
    </svg>
    <h2 class="franchise__title">
      Thank you for your interest in owning an Ice Cream shop
    </h2>
    <p class="franchise__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <ul class="franchise__form">
      <li class="franchise__form-item">
        <label class="franchise__form-lable" for="name">
          <input
            class="franchise__form-input"
            type="text"
            name="name"
            id="name"
            placeholder="Darth Vader"
          />
        </label>
      </li>
      <li class="franchise__form-item">
        <label class="franchise__form-lable" for="tel">
          <input
            class="franchise__form-input"
            type="tel"
            name="tel"
            id="tel"
            placeholder="+34123456789"
          />
        </label>
      </li>
      <li class="franchise__form-item">
        <label class="franchise__form-lable" for="mail">
          <input
            class="franchise__form-input"
            type="email"
            name="mail"
            id="mail"
            placeholder="vader@death.star"
          />
        </label>
      </li>
      <li class="franchise__form-item">
        <label class="franchise__form-lable" for="comment">
          <textarea
            class="franchise__form-texterea"
            name="comment"
            id="comment"
            cols="3"
            rows="4"
            placeholder="comment"
          ></textarea>
        </label>
      </li>
    </ul>
    <button class="franchise__button" type="submit">submit</button>
  </div>
</div>
