<div class="modal" data-modal="read-more">
  <svg class="modal__cross js-modal-close" width="20" height="20">
    <use href="./images/icons/icons.svg#icon-modal-close"></use>
  </svg>
  <p class="modal__title">How it’s made?</p>
  <video
    class="video__modal"
    poster="https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg?w=640"
    controls
  >
    <source
      src="http://techslides.com/demos/sample-videos/small.webm"
      type="video/webm"
    />
    <source
      src="http://techslides.com/demos/sample-videos/small.mp4"
      type="video/mp4"
    />
    <source
      src="http://techslides.com/demos/sample-videos/small.ogg"
      type="video/ogg"
    />
  </video>
  <p class="modal__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>

<div class="overlay js-overlay-modal"></div>
