<div id="" class="overlay js-overlay-modal">
  <div class="modal" data-modal="products">
    <button class="modal__cross">
      <svg class="close-buttton-icon js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
      </svg>
    </button>
    <p class="ingridients-modal__title">Chololate
      icecream</p>
    <div>
      <img class="ingridients-modal__img" srcset="./images/modal/chololate_132.png 132w,
            ./images/modal/chololate_264.png 264w
            " sizes="(min-width: 480px) 132px, 100vw" src="./images/modal/chololate_132.png" alt="Chololate icecream"
        width="132" height="132" />
      <span class="ingridients-modal__bg-circle"></span>
    </div>
    <ul class="ingridients-contain-list">
      <li class="ingridients-contain__item"><span class="ingridients-contain__value">320</span>kcal</li>
      <li class="ingridients-contain__item"><span class="ingridients-contain__value">4g</span>Prote...</li>
      <li class="ingridients-contain__item"><span class="ingridients-contain__value">8,2g</span>Fats</li>
      <li class="ingridients-contain__item"><span class="ingridients-contain__value">40,4g</span>Carbs</li>
    </ul>
    <p class="ingridients-lists-title">Ingredients</p>
    <ul class="ingridients-list">
      <li class="ingridients-list__item"><span>Milk</span>100ml</li>
      <li class="ingridients-list__item"><span>Belgian chocolate</span>20g</li>
      <li class="ingridients-list__item"><span>Cream</span>150 ml</li>
      <li class="ingridients-list__item"><span>Cocoa powder</span>30g</li>
      <li class="ingridients-list__item"><span>Sugar</span>40g</li>
      <li class="ingridients-list__item"><span>Vanilla sugar</span>10g</li>
    </ul>
    <form class="form" name="user-data">
      <input class="form-input" type="text" name="user-name" placeholder="Name" required />
      <input class="form-input" type="tel" name="user-phone" placeholder="Phone" required />
      <textarea class="form-comment" name="comment" id="comment" rows="3" placeholder="Comment" required></textarea>
      <button class="button" type="submit">Submit</button>
    </form>
  </div>
</div>