.hero {
  padding-top: 145px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero--decor {
  display: flex;
  justify-content: space-between;
}
.hero_title--decor {
  @media screen and (max-width: 1199px) {
    max-width: 247px;
    margin-bottom: 32px;
  }
}
.hero__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__title {
  font-family: 'Seymour One';
  color: var(--main-text-color);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.04em;

  /* @media screen and (min-width: 767px) {
    @keyframes hero__title {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0;
        text-shadow: none;
      }
      10.1% {
        opacity: 1;
        text-shadow: none;
      }
      10.2% {
        opacity: 0;
        text-shadow: none;
      }
      20% {
        opacity: 0;
        text-shadow: none;
      }
      20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
      }
      20.6% {
        opacity: 0;
        text-shadow: none;
      }
      30% {
        opacity: 0;
        text-shadow: none;
      }
      30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      30.6% {
        opacity: 0;
        text-shadow: none;
      }
      45% {
        opacity: 0;
        text-shadow: none;
      }
      45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      55.1% {
        opacity: 0;
        text-shadow: none;
      }
      57% {
        opacity: 0;
        text-shadow: none;
      }
      57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.35);
      }
      60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.35);
      }
      60.1% {
        opacity: 0;
        text-shadow: none;
      }
      65% {
        opacity: 0;
        text-shadow: none;
      }
      65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      75.1% {
        opacity: 0;
        text-shadow: none;
      }
      77% {
        opacity: 0;
        text-shadow: none;
      }
      77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
          0 0 100px rgba(255, 255, 255, 0.1);
      }
      85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
          0 0 100px rgba(255, 255, 255, 0.1);
      }
      85.1% {
        opacity: 0;
        text-shadow: none;
      }
      86% {
        opacity: 0;
        text-shadow: none;
      }
      86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
          0 0 60px rgba(255, 255, 255, 0.45),
          0 0 110px rgba(255, 255, 255, 0.25),
          0 0 100px rgba(255, 255, 255, 0.1);
      }
      100% {
        opacity: 1;
      }
    }
  } */

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: calc(33 / 26);
  }
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}
.hero__title--decor {
  font-size: 34px;
  line-height: calc(33 / 34);
  @media screen and (max-width: 1199px) {
    max-width: 247px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 367px;
    margin-bottom: 28px;
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}
.hero__div--span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    transform: translateY(40px);
  }
  @media screen and (min-width: 1200px) {
    transform: translateY(50px);
  }
}
.hero__span--number {
  display: flex;
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 0.04em;
  justify-content: end;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 46px;
    line-height: calc(56 / 46);
  }
}
.hero__span {
  display: flex;
  font-family: 'Montserrat';
  justify-content: end;
  color: var(--main-text-color);
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-weight: 400;
    font-size: 8px;
    line-height: calc(18 / 8);
    margin-bottom: 20px;
    &:last-child {
      margin: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    margin-bottom: 16px;
    &:last-child {
      margin: 0;
    }
  }
}
.hero__div--center {
  margin: auto;
  @media screen and (max-width: 767px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin-bottom: 42px;
  }
}
.hero__div--btn {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.hero__link {
  display: flex;
  font-family: 'Montserrat';
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  text-decoration: none;
  justify-content: center;
  color: var(--secondary-text-color);

  animation-name: hero__link;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: 0;

  @media screen and (min-width: 768px) {
    @keyframes hero__link {
      0% {
        transform: translateX(-100px);
        opacity: 0;
        scale: 1;
      }

      50% {
        scale: 1;
        opacity: 0.2;
      }
      80% {
        transform: translateX(30px);
        scale: 1;
        opacity: 0.7;
        z-index: 1;
      }
      90% {
        scale: 1.7;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    width: 108px;
    height: 38px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    margin-right: 12px;
    &:last-child {
      margin: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18 / 14);
    width: 134px;
    height: 42px;
    margin-right: 12px;
    &:last-child {
      margin: 0;
    }
  }
}
.hero__link--made {
  display: flex;
  font-family: 'Montserrat';
  padding: 11px 0px;
  text-decoration: underline;
  border: none;
  color: var(--accent-color);

  animation-name: link--made;
  animation-duration: 1600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: 0;

  @media screen and (min-width: 767px) {
    @keyframes link--made {
      0% {
        transform: translateX(-100px);
        opacity: 0;
        scale: 1;
      }

      50% {
        scale: 1;
        opacity: 0.2;
      }
      80% {
        transform: translateX(100px);
        scale: 1;
        opacity: 0.7;
        z-index: 1;
      }
      90% {
        scale: 1.7;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  transition: color 250ms ease-in-out;

  &:hover {
    color: var(--btn-hover-color);
  }
  &:focus {
    color: var(--main-text-color);
  }
  @media screen and (max-width: 1199px) {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
  }
  @media screen and (min-width: 1200px) {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 15);
  }

  &:hover {
    color: var(--btn-hover-color);
  }
  &:focus {
    color: var(--main-text-color);
  }
}
.hero__div--paragraph {
  display: flex;
  flex-direction: column;
  z-index: 1;

  animation-name: hero__paragraph;
  animation-duration: 4900ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0;

  @media screen and (min-width: 767px) {
    @keyframes hero__paragraph {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0;
        text-shadow: none;
      }
      10.1% {
        opacity: 0.2;
        text-shadow: none;
      }
      10.2% {
        opacity: 0;
        text-shadow: none;
      }
      20% {
        opacity: 0;
        text-shadow: none;
      }
      20.1% {
        opacity: 0.2;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
      }
      20.6% {
        opacity: 0;
        text-shadow: none;
      }
      30% {
        opacity: 0;
        text-shadow: none;
      }
      30.1% {
        opacity: 0.5;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      30.5% {
        opacity: 0.5;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      30.6% {
        opacity: 0;
        text-shadow: none;
      }
      45% {
        opacity: 0;
        text-shadow: none;
      }
      45.1% {
        opacity: 0.5;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      50% {
        opacity: 0.5;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      55% {
        opacity: 0.5;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
          0 0 60px rgba(255, 255, 255, 0.25);
      }
      55.1% {
        opacity: 0;
        text-shadow: none;
      }
      57% {
        opacity: 0;
        text-shadow: none;
      }
      57.1% {
        opacity: 0.5;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.35);
      }
      60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.35);
      }
      60.1% {
        opacity: 0;
        text-shadow: none;
      }
      65% {
        opacity: 0;
        text-shadow: none;
      }
      65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      75.1% {
        opacity: 0;
        text-shadow: none;
      }
      77% {
        opacity: 0;
        text-shadow: none;
      }
      77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
          0 0 100px rgba(255, 255, 255, 0.1);
      }
      85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
          0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
          0 0 100px rgba(255, 255, 255, 0.1);
      }
      85.1% {
        opacity: 0;
        text-shadow: none;
      }
      86% {
        opacity: 0;
        text-shadow: none;
      }
      86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
          0 0 60px rgba(255, 255, 255, 0.45),
          0 0 110px rgba(255, 255, 255, 0.25),
          0 0 100px rgba(255, 255, 255, 0.1);
      }
      100% {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    padding: 20px 0px 24px 201px;
  }
  @media screen and (min-width: 1200px) {
    padding: 111px 0px 103px 257px;
  }
}
.hero__paragraph {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  color: var(--main-text-color);

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    width: 139px;
    padding-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    width: 200px;
    font-size: 14px;
    line-height: calc(20 / 14);
    margin-bottom: 24px;
  }
}
.hero__div__svg {
  width: 40px;
  height: 16px;
  fill: var(--main-text-color);
  transition: fill 250ms ease-in-out;
  &:hover,
  &:focus {
    fill: var(--btn-text-color);
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.hero__div--picture {
  display: flex;
  position: relative;
  margin: auto;
  @media screen and (max-width: 767px) {
    width: 320px;
    height: 217px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.hero__img--left {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;

  animation-name: img-left;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: 0;

  @media screen and (max-width: 767px) {
    @keyframes img-left {
      0% {
        transform: translateX(-100px);
        opacity: 0;
        scale: 1;
      }

      50% {
        scale: 1;
        opacity: 0.2;
      }
      80% {
        transform: translateX(10px);
        scale: 1;
        opacity: 0.7;
        z-index: 1;
      }
      90% {
        scale: 1.7;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    bottom: 5px;
  }
  @media screen and (min-width: 1200px) {
    bottom: 18px;
  }
  @media screen and (min-width: 768px) {
    @keyframes img-left {
      0% {
        transform: translateX(-100px);
        opacity: 0;
        scale: 1;
      }

      50% {
        scale: 0.5;
        opacity: 0.2;
        scale: 1;
      }
      80% {
        transform: translateX(100px);
        scale: 1.7;
        opacity: 0.7;
        scale: 1;
        z-index: 2;
      }
      90% {
        z-index: 2;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
/* ---------------------------------------- */
.hero__img--rights {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;

  animation-name: dots_half;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 4000ms;

  @keyframes dots_half {
    0% {
      opacity: 0.1;
    }

    100% {
      opacity: 1;
    }
  }
}
.hero__img_ice {
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 1;
  opacity: 0;

  animation-name: ice;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: 1600ms;

  @keyframes ice {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }

  @media screen and (max-width: 767px) {
    right: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    right: 92px;
  }
  @media screen and (min-width: 1200px) {
    right: 107px;
  }
}
.lot__ice_cream {
  display: flex;
  position: absolute;
  z-index: 1;
  opacity: 0;

  animation-name: dots_half;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 1600ms;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    left: 32px;
    bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    left: 16px;
    bottom: 65px;
  }
}
.dots_half {
  display: flex;
  position: absolute;
  left: 234px;
  bottom: 46px;
  opacity: 0;

  animation-name: dots_half;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 2000ms;

  @keyframes dots_half {
    0% {
      opacity: 0.1;
    }

    100% {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }
}
