.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  //   width: 162px;
  //   height: 42px;
  padding: 12px 34px;
  margin: 0;
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 0 transparent;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);

  color: var(--btn-text-color);

  transition: background-color 250ms ease-in-out;

  &:hover {
    background: var(--btn-hover-color);
  }

  &:focus {
    background: var(--btn-hover-color);
    color: var(--main-text-color);
    outline: 0 transparent;
    fill: var(--main-text-color);
  }
}

.btn--transparent {
  background-color: transparent;
  border: 2px solid var(--accent-color);

  transition: border-color 250ms ease-in-out;

  &:hover {
    border-color: var(--btn-hover-color);
    border: 2px solid var(--btn-hover-color);
    background-color: transparent;
  }
  &:focus {
    border: 2px solid var(--btn-hover-color);
    background-color: transparent;
    color: var(--main-text-color);
  }
}

// =========== scroll to top button =========== //

.btn--to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10000;
  border: none;
  outline: none;
  background-color: var(--accent-color);

  cursor: pointer;

  border-radius: 50%;

  transition: background-color 250ms ease-in-out;

  &:hover,
  :focus {
    background-color: var(--btn-hover-color);
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  }
}

.icon-arrow {
  fill: var(--secondary-text-color);
}

.hidden {
  display: none;
}
