// contacts buttons

.contacts__btn.btn-location, .contacts__btn.btn-franchise {
    font-size: 14px;
    line-height: calc(18/14);
    text-transform: capitalize;
    justify-content: center;
    border-radius: 10px;
    width: 196px;
    padding: 0, 17px;
    height: 42px;
    margin: 0 auto;
    
}

.btn-location{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: 0;
    cursor: pointer;
    color: var(--secondary-text-color);
}

.btn-franchise{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #F8D24E;
    cursor: pointer;
    color: var(--btn-text-color);
}