.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: 300ms ease-in-out;
  pointer-events: all;
}
.modal__cross {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
}
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  scroll-behavior: auto;
  overflow: auto;

  /*  Установаем ширину окна  */
  width: 100%;
  @media screen and (min-width: 320px) {
    height: 100%;
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 568px;
    height: auto;
  }

  /*  Центрируем и задаем z-index */

  transform: translate(-50%, -50%);
  z-index: 10000; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 28px;
  background: var(--main-text-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  transition: 0.3s all;
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-buy__title {
  margin-bottom: 86px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 106px;
    font-size: 20px;
  }
}

.modal-buy__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }
}
.modal-buy__item {
  position: relative;
  width: 132px;
  height: 135px;
  background: var(--main-text-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.modal-buy__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 86px;
  }
}
.modal-buy__item--green {
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}
.modal-buy__item--yellow {
  background: var(--bg-color-yellow);
  border: 2px solid var(--bg-color-yellow);
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}
.modal-buy__item--brown {
  border: 2px solid var(--bg-color-red);
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}
.modal-buy__circle {
  position: absolute;
  bottom: 59px;
  left: -2px;

  width: 132px;
  height: 132px;
  border-radius: 50%;
}
.modal-buy__circle--green {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    var(--pseudo-elements-bg);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-buy__circle--yellow {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    var(--pseudo-elements-bg);
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.modal-buy__circle--brown {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    var(--pseudo-elements-bg);
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}
.modal-buy__circle--green::before {
  content: '';
  width: 132px;
  height: 132px;
  background-image: url(../images/modal/ice-cream_132.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -7px;
  left: 0;
}
.modal-buy__circle--yellow::before {
  content: '';
  width: 132px;
  height: 132px;
  background-image: url(../images/modal/ice-coffe_132.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -7px;
  left: 0;
}
.modal-buy__circle--brown::before {
  content: '';
  width: 132px;
  height: 132px;
  background-image: url(../images/modal/milkshake_132.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -7px;
  left: 0;
}
.modal-buy__text {
  padding-top: 86px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.buy-now-form__input {
  display: block;
  width: 100%;
  height: 32px;
  max-width: 224px;
  padding-left: 12px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  color: var(--secondary-text-color);

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--main-bg-color);
  border-radius: 10px;
  appearance: none;

  transition: outline-color 250ms ease-in-out;

  @media screen and (min-width: 768px) {
    padding-left: 16px;
    height: 42px;
    max-width: 368px;

    font-size: 14px;
  }
}
.buy-now-form__comment-input {
  display: block;
  width: 100%;
  max-width: 224px;
  height: 65px;
  padding: 8px 12px;
  margin: 0 auto 26px auto;

  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  color: var(--secondary-text-color);

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--main-bg-color);
  border-radius: 10px;
  appearance: none;

  transition: outline-color 250ms ease-in-out;
  @media screen and (min-width: 768px) {
    padding: 11px 16px;
    height: 84px;
    max-width: 368px;
    margin: 0 auto 32px auto;

    font-size: 14px;
  }
}
.buy-now-form__field {
  display: block;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}
.submit-btn {
  margin: 0 auto;
}
